{% extends "base.html.twig" %}

{% block title %}
	<title>Collect7 - Login</title>
{% endblock %}

{% block body %}
	<!-- login form -->
	<div class="login-area rn-section-gapTop">
		<div class="container">
			<div class="row g-5 d-flex justify-content-center">
				<div class="col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
					<div class="form-wrapper-one">
						<h4>Login</h4>
						{% if login_error is defined %}
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								{{ login_error }}
							</div>
						{% endif %}
						<form action="/login" method="post">
							<div class="mb-5">
								<label for="exampleInputEmail1" class="form-label">Email address</label>
								<input type="text" id="exampleInputEmail1" name="email">
							</div>
							<div class="mb-5">
								<label for="password" class="form-label">Password</label>
								<input type="password" id="password" name="password">
								<button type="button" id="showPasswordButton">Afficher le mot de passe</button>
							</div>
							<div class="form-check mb-3">
							<a class="form-check-input" href="/forgot">
									Mot de passe oublié ?
								</a>
							</div>
							<div class="form-check mb-5">
								<input class="form-check-input" type="checkbox" value="" name="rememberMe" id="rememberMe">
								<label class="form-check-label" for="rememberMe">
									Se souvenir de moi
								</label>
							</div>
							<button type="submit" class="btn btn-primary mr--15">Log In</button>
							<a href="/register" class="btn">Sign Up</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- login form end -->

	<script>
		const showPasswordButton = document.getElementById('showPasswordButton');
const passwordInput = document.getElementById('password');
showPasswordButton.addEventListener('click', () => {
if (passwordInput.type === 'password') {
passwordInput.type = 'text';
showPasswordButton.textContent = 'Cacher le mot de passe';
} else {
passwordInput.type = 'password';
showPasswordButton.textContent = 'Afficher le mot de passe';
}
});
	</script>
{% endblock %}
