{% extends "base.html.twig" %}

{% block body %}

    <div class="rn-upcoming-area rn-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- start Table Title -->
                    <div class="table-title-area d-flex">
                        <i data-feather="briefcase"></i>
                        <h3>Top USER</h3>
                    </div>
                    <!-- End Table Title -->

                    <!-- table area Start -->
                    <div class="box-table table-responsive">
                        <table class="table upcoming-projects">
                            <thead>
                                <tr>
                                    <th>
                                        <span>SL</span>
                                    </th>
                                    <th>
                                        <span>User</span>
                                    </th>
                                    <th>
                                        <span>Volume</span>
                                    </th>
                                    <th>
                                        <span>Value Total</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="ranking">
                            {% for user in users %}
                                  <tr class="color-light">
                                    <td><span>{{loop.index}}.</span></td>
                                    <td>
                                        <div class="product-wrapper d-flex align-items-center">
                                            <a href="product-details.html" class="thumbnail">
                                                <img src="/uploads/avatar/{{user.avatar}}" alt="Nft_Profile">
                                            </a>
                                            <span>{{user.username}}</span>
                                        </div>
                                    </td>
                                    <td><span >{{user.cards|length}}</span></td>
                                    <td><span class="color-green">400</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- table End -->
                    <div class="row">
                        <div class="col-lg-12" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                            <nav class="pagination-wrapper" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}